
/*defaul page*/

* {
    margin: 0%;
    padding: 0%
    box-sizing: border-box;
}

/* container and main */
    
.container {
    display: inline-block;
}

.container2 {
    margin-left: 23px;
    margin-top: 12px;
    padding-bottom: 74px;
}

main {
    padding-left: 220px;
    padding-bottom: 100px;
}

/* new task */

.add-task {
    display: inline-block;
    border-radius: 7%;
    width: 70px;
    height: 24px;
    background-color: rgb(70, 152, 230);
}

.font {
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-size: small;
}

.add-section {
    display: inline-block;
    border-radius: 7%;
    border: 1px solid gray;
    width: 83px;
    height: 24px;
    background-color: white;
}

.font2 {
    color:grey;
    padding-left: 10px;
    padding-top: 10px;
    font-size: small;
}

.title {
    padding-top: 44px;
     color:black;
}

.circle {
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid green
}

.spunta {
    color: green;
    padding-left: 4px;
    padding-top: 2px;
    font-size: small;
   
}

.text {
    display: inline-block;
    margin-left: 10px;
}

.editorial {
    display: inline-block;
    border-radius: 35%;
    width: 59px;
    height: 23px;
    background-color: rgb(70, 152, 230);
}

/* today */

.font3 {
    color: white;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 10px;
}

.q1goals {
    display: inline-block;
    border-radius: 35%;
    width: 59px;
    height: 23px;
    background-color: rgb(146, 54, 115);
}

.croce {
    color: rgb(243, 22, 22);
    padding-left: 4px;
    padding-top: 2px;
    font-size: small;
}

.circlex {
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid red
}

.recruiting {
    display: inline-block;
    border-radius: 35%;
    width: 59px;
    height: 23px;
    padding-right: 5px;
    background-color: rgb(69, 175, 143);
}

.mobile {
    display: inline-block;
    border-radius: 35%;
    width: 59px;
    height: 23px; 
    padding-left: 5px;
    background-color: rgb(240, 167, 33);
}

/* upcoming */

.website {
    display: inline-block;
    border-radius: 35%;
    width: 59px;
    height: 23px; 
    padding-left: 5px;
    background-color: rgb(240, 33, 230);
}

.sales {
    display: inline-block;
    border-radius: 35%;
    width: 59px;
    height: 23px; 
    padding-left: 10px;
    background-color: rgb(79, 218, 44);
}